.modal {
  .modal_header {
    font-weight: 600;
    font-size: 24px;
    line-height: 72px;
  }
  .modal_footer {
    .action_btn {
      margin-left: 10px;
      background-color: #1e3161;
      color: #ffff;
    }
  }
}
.input_fields {
  margin-bottom: 25px;
  .label {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
  }
}
.select{
  width: 50%;
}
