.dashboard_section {
  width: 80%;
  max-width: 1140px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  .context_section {
    width: 60%;
    .header {
      margin-bottom: 30px;
      .main_txt {
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
      }
      .sub_txt {
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #979ca5;
      }
    }
    .action_btn_container {
      .action_btn {
        padding: 7px 14px;
        font-size: 16px;
        height: auto;
        background-color: #1e3161;
        color: #fff;
        font-weight: 600;
      }
      margin-bottom: 30px;
    }
    .table_container {
      .table_header {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #121212;
        margin-bottom: 20px;
      }
    }
  }
  .profile_info {
    text-align: center;
    width: 30%;
    background: #00000008;
    border-radius: 20px;
    padding: 30px;
    .profile_img_box {
      margin-bottom: 30px;
      .profile_avatar {
        height: 100px;
        width: 100px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
      }
    }
    .user_info {
      .user_name {
        font-weight: 600;
        font-size: 24px;
        line-height: 0px;
        color: #121212;
        margin-bottom: 40px;
      }
      .user_data {
        .data_field {
          margin: 0 5px 5px 0;
          display: flex;
          gap: 10px;
          font-size: 16px;
          text-align: left;
          .field,
          .value {
            width: 50%;
          }
          .field{
            font-weight: 500;
          }
        }
      }
    }
  }
}

.skeleton_container{
  height: 100vh;
  margin: 50px 0;
}