.search_page_container {
  min-height: 100vh;
  .search_header {
    min-height: 60vh;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    flex-direction: column;
    gap: 25px;
    .title {
      text-align: center;
      margin-bottom: 20px;
      font-family: 40px;
      font-weight: 600;
    }
  }
  .data_field_container {
    max-width: 80%;
    margin: 0 auto;
  }
  .filter_container {
    display: flex;
    justify-content: center;
    align-items: self-end;
    gap: 20px;
    .filter_selector {
      width: 160px;
      text-align: center;
      .label {
        text-align: center;

        margin-bottom: 10px;
      }
      .select {
        width: 100%;
      }
    }
  }
}

.search_input {
  font-size: 25px;
  //   padding: 200px;

  width: 500px;
}
