.landing_section {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .context_part {
    width: 50%;
    .title {
      font-weight: 700;
      font-size: 84px;
      margin-bottom: 10px;
    }
    .sub_title {
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 25px;
    }
    .action_btn {
      cursor: pointer;
      background: #ff0090;
      border: none;
      outline: none;
      border-radius: 32px;
      font-weight: 700;
      font-size: 18px;
      color: #ffffff;
      padding: 15px;
      width: 125px;
      margin-right: 10px;
    }
  }
}
