.landing_section {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10rem 5rem;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .context_part {
    width: 50%;
    .title {
      font-weight: 700;
      font-size: 84px;
      margin-bottom: 10px;
    }
    .sub_title {
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 25px;
    }
    .action_btn {
      cursor: pointer;
      background: #ff0090;
      border: none;
      outline: none;
      border-radius: 32px;
      font-weight: 700;
      font-size: 18px;
      color: #ffffff;
      padding: 15px;
      width: 125px;
      margin-right: 10px;
    }
  }
}
